<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Vue</title>
    <script src="https://unpkg.com/vue"></script>
    <meta charset="utf-8">
    <title>hello vue.js</title>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>

<body>
    <div id="simple">
        <!--View-->
        <h2>{{message}}</h2>
        <!-- Mustach Expression-->
        <h2 v-text="message"></h2>
        <!-- Encodes HTML tag-->
        <h2 v-html="message"></h2>
        <!-- Do not Encode, Vulnerable to XSS-->

        <input id="a" type="text" v-bind:value="message">
        <br/>
        <img v-bind:src="imagePath" />
        <!-- This is unidirect bind, doesn't change model.-->
    </div>

    <div id="simple2">
        <input id="a" type="text" v-model="name" placeholder="name">
        <br/> 입력된 이름 :
        <h2 v-html="name"></h2>
        <!-- This is bidirect bind, changes model.-->
    </div>

    <script type="text/javascript">
        var twoway = new Vue({
            el: "#simple2",
            data: {
                name: ''
            }
        })

        var model = { //Model
            message: '첫 번째 Vue.js 앱입니다.',
            imagePath: "http://sample.bmaster.kro.kr/photos/61.jpg"
        };

        var simple = new Vue({ // View Model
            el: '#simple',
            data: model
        })
    </script>



    <div id="checkboxes">
        <div>Select it.</div>
        <input type="checkbox" value="1" v-model="fruits">사과,
        <input type="checkbox" value="2" v-model="fruits">사과,
        <input type="checkbox" value="3" v-model="fruits">사과,
        <input type="checkbox" value="4" v-model="fruits">사과,
        <input type="checkbox" value="5" v-model="fruits">사과,
    </div>
    <hr/>
    <div id="checkboxes-selected">
        선택한 과일들 : <span v-html="fruits"></span>
    </div>
    <script type="text/javascript">
        var model = {
            fruits: []
        };
        var checkboxes = new Vue({
            el: '#checkboxes',
            data: model
        });

        var selected = new Vue({
            el: '#checkboxes-selected',
            data: model
        });
    </script>
</body>

</html>